<!DOCTYPE html>
<html>
<head>
    <title>NBA Players</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Team ID</th>
            <th>Is Active</th>
            <th>PTS</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>